<app-banner></app-banner>
<div class="content">
  <div class="container">
      <h5>Get that Job</h5>
      <div class="row content-items d-flex w-100-p">
          <ul class="d-flex flex-wrap align-items-end w-100-p" style="list-style:none; padding: 0; margin: 0">
              <li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                  <a href="#">
                  <img src="assets/images/content/openings.jpg" alt="Openings">
                  <p>Openings</p>
                  </a>
              </li>
               <li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                   <a href="#">
                  <img src="assets/images/content/resume.jpg" alt="resume">
                  <p>My Resume</p>
                  </a>
              </li>
               <li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                   <a href="#">
                  <img src="assets/images/content/interviews.jpg" alt="interviews">
                  <p>My Interviews</p>
                  </a>
              </li>
          </ul>
      </div>
      <h5>Keeping Connected</h5>
      <div class="row content-items d-flex w-100-p">
          <ul class="d-flex flex-wrap align-items-end w-100-p" style="list-style:none; padding: 0; margin: 0">
              <li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                  <a href="#">
                  <img src="assets/images/content/radios.jpg" alt="radios">
                  <p>Cloudstaff Radio</p>
                  </a>
              </li>
               <li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                   <a href="#">
                  <img src="assets/images/content/news.jpg" alt="news">
                  <p>Career News</p>
                  </a>
              </li>
               <li class="col-lg-2 col-md-4 col-sm-6 col-6 text-center">
                   <a href="#">
                  <img src="assets/images/content/training.jpg" alt="training">
                  <p>Training</p>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>
<app-footer></app-footer>
