
<!--Header-->
<!---    <table class="table staff-table">
                  <thead>
                      <tr>
                          <th scope="col"><span class="staff-table__image"></span></th>
                          <th scope="col">Name</th>
                          <th scope="col">Role</th>
                          <th scope="col">Team</th>
                          <th scope="col">Activity</th>
                          <th scope="col" class="text-center align-middle">Rating</th>
                          <th scope="col" class="text-right align-middle">Dreampoints</th>
                          <th scope="col" class="text-right align-middle">Tenure</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td scope="col" class="align-middle"><span class="staff-table__image active "><img src="assets/images/content/staff/staff.png" alt=""></span></td>
                          <td scope="col" class="align-middle">June Marbahy</td>
                          <td scope="col" class="align-middle">Marketing Specialist 1</td>
                          <td scope="col" class="align-middle">Marketing</td>
                          <td scope="col" class="align-middle">Blog articles</td>
                          <td scope="col" class="text-center align-middle">4</td>
                          <td scope="col" class="text-right align-middle">32,223</td>
                          <td scope="col" class="text-right align-middle">2 years</td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><span class="staff-table__image active"><img src="assets/images/content/staff/staff.png" alt=""></span></td>
                          <td scope="col" class="align-middle">John Biegey</td>
                          <td scope="col" class="align-middle">SEO Specialist</td>
                          <td scope="col" class="align-middle">Marketing</td>
                          <td scope="col" class="align-middle">Site Keywords</td>
                          <td scope="col" class="text-center align-middle">5</td>
                          <td scope="col" class="text-right align-middle">12,233</td>
                          <td scope="col" class="text-right align-middle">5 years</td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><span class="staff-table__image active"><img src="assets/images/content/staff/staff.png" alt=""></span></td>
                          <td scope="col" class="align-middle">Janet Bayou</td>
                          <td scope="col" class="align-middle">Designer</td>
                          <td scope="col" class="align-middle">Creative</td>
                          <td scope="col" class="align-middle">Advertising</td>
                          <td scope="col" class="text-center align-middle">4</td>
                          <td scope="col" class="text-right align-middle">1,223</td>
                          <td scope="col" class="text-right align-middle">2 years</td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><span class="staff-table__image inactive"><img src="assets/images/content/staff/staff.png" alt=""></span></td>
                          <td scope="col" class="align-middle">John Deluna</td>
                          <td scope="col" class="align-middle">Designer</td>
                          <td scope="col" class="align-middle">Creative</td>
                          <td scope="col" class="align-middle">Absent</td>
                          <td scope="col" class="text-center align-middle">4</td>
                          <td scope="col" class="text-right align-middle">22,253</td>
                          <td scope="col" class="text-right align-middle">1 years</td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><span class="staff-table__image"><img src="assets/images/content/staff/staff.png" alt=""></span></td>
                          <td scope="col" class="align-middle">Jo Mahuay</td>
                          <td scope="col" class="align-middle">Accountant</td>
                          <td scope="col" class="align-middle">Finance</td>
                          <td scope="col" class="align-middle">EOY</td>
                          <td scope="col" class="text-center align-middle">5</td>
                          <td scope="col" class="text-right align-middle">243,342</td>
                          <td scope="col" class="text-right align-middle">3 years</td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><span class="staff-table__image active"><img src="assets/images/content/staff/staff.png" alt=""></span></td>
                          <td scope="col" class="align-middle">Ida Wanhay</td>
                          <td scope="col" class="align-middle">Accountant Lead</td>
                          <td scope="col" class="align-middle">Finance</td>
                          <td scope="col" class="align-middle">EOY</td>
                          <td scope="col" class="text-center align-middle">5</td>
                          <td scope="col" class="text-right align-middle">1,243,342</td>
                          <td scope="col" class="text-right align-middle">6 years</td>
                      </tr>
                  </tbody>
              </table>    --->
<table mat-table [dataSource]="dataSource" class="table staff-table w-100-p">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let staff"> <span class="staff-table__image active"><img
          src="{{ staff.image || 'staff' }}"> </span> </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td scope="col" mat-cell class="align-middle" *matCellDef="let staff"> {{ staff.name }}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let staff"> {{ staff.role }}</td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team </th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let staff"> {{ staff.team }}</td>
  </ng-container>

  <ng-container matColumnDef="activity">
    <th mat-header-cell *matHeaderCellDef> Activity </th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let staff"> {{ staff.activity }}</td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Rating </th>
    <td scope="col" class="align-middle text-center" mat-cell *matCellDef="let staff"> {{ staff.rating }}</td>
  </ng-container>


  <ng-container matColumnDef="dreampoints">
    <th class="text-right" mat-header-cell *matHeaderCellDef> Dreampoints </th>
    <td scope="col" class="align-middle text-right " mat-cell *matCellDef="let staff"> {{ staff.dreampoints }}</td>
  </ng-container>

  <ng-container matColumnDef="tenure">
    <th class="text-right" mat-header-cell *matHeaderCellDef> Tenure </th>
    <td scope="col" class="align-middle text-right " mat-cell *matCellDef="let staff"> {{ staff.tenure }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
