<div class="heading noodle">
    <div class="icons">
      
      <mat-icon>dehaze</mat-icon>
      <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <h1>Mr Noodle</h1>
    <p>Due to safety, vendor meals have been suspended. Night staff working
      from the office will receive Mr. Noodle vouchers. Staff can redeem
      their noodles using CS Tap, and the noodles will be delivered to their desk.
    </p>
    <p>Noodles are delivered and isolated for 48 hours before delivery.</p>
    <p>Are you working from the office.</p>
    <form class="example-form">
        <mat-form-field>
          <mat-label>Your Cloudstaff ID (CS-000000) <span class="red-asterisk"> *</span></mat-label>
              <input matInput type="text" placeholder="CS-000000">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Office Location <span class="red-asterisk"> *</span></mat-label>
            <mat-select>
              <mat-option value= '16'>16"</mat-option>
              <mat-option value= '32'>32</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Spa <span class="red-asterisk"> *</span> </mat-label>
            <input matInput type="text" placeholder="Space 001">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Workstation <span class="red-asterisk"> *</span></mat-label>
            <input matInput type="text"placeholder="Workstation">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Choice</mat-label>
            <mat-select>
              <mat-option value= 'Vegetable'>Vegetable</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent"> Place Order </button>
     </form>
 </div>
