<header id="inner-header">
  <div class="container">
    <div class="row d-flex align-items-center pt-20 ">
      <div class="col-md-8 col-12">
        <h1>{{title}}</h1>
        
      </div>
      <div class="col-md-4 col-12" hidden="{{page}}">
        <div class="col-12">
          <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

            <div class="search" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>search</mat-icon>
              <input placeholder="Search" fxFlex>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>