<!--Header-->
<!----    <table class="table team-table">
                  <thead>
                      <tr>
                          <th scope="col"></th>
                          <th scope="col">App</th>
                          <th scope="col">Description</th>
                          <th scope="col">Assignments</th>
                          <th scope="col">Usage</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/core-logic.jpg" alt="Core Logic"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/inhabit.jpg" alt="inhabit"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/property-value.jpg" alt="Property Value"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/property-iq.jpg" alt="Property IQ"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/deft.jpg" alt="Deft"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/my-staff.jpg" alt="My Staff"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                  </tbody>
              </table>  -->
<table mat-table [dataSource]="dataSource" class="table team-table">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let team"> <img src="{{ team.image || 'My Staff' }}">
    </td>
  </ng-container>

  <ng-container matColumnDef="app">
    <th mat-header-cell *matHeaderCellDef> App </th>
    <td scope="col" mat-cell class="align-middle" *matCellDef="let team"> <b> {{ team.app }} </b> <br> Web App </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let team"> {{ team.description }}</td>
  </ng-container>

  <ng-container matColumnDef="assignments">
    <th mat-header-cell *matHeaderCellDef> Assignments </th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let team"> {{ team.assignments }}</td>
  </ng-container>

  <ng-container matColumnDef="usage">
    <th mat-header-cell *matHeaderCellDef> Usage </th>
    <td scope="col" class="align-middle" mat-cell *matCellDef="let team"> {{ team.usage }}</td>
  </ng-container>

  <ng-container matColumnDef="icons">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td scope="col" class="text-center align-middle" mat-cell *matCellDef="let team"> <span
        class="arrow down"></span><img src="{{ team.icons  || humberger }}"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>