<div class="banner accent">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-sm-2 col-12 text-center">
        <img src="assets/images/common/logo.png" alt="Logo" style="width:100%; max-width: 200px; margin: 0 auto;">
      </div>
      <div class="col-sm-10">
        <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

          <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input placeholder="Search" fxFlex>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
