<div class="p-24">
  <!-- <fuse-demo-content></fuse-demo-content> -->
  <div class="row d-flex align-items-stretch">
    <div class="col-md-6 p-8">
      <div class="app-panel">
        <div class="navicon">
          <img src="assets/images/common/nav-icon.jpg" alt="navicon">
        </div>
        <div class="row d-flex align-items-center">
          <div class="app-panel__image col-3 text-center">
            <img src="assets/images/content/app/core-logic.jpg" alt="Staff">
          </div>
          <div class="app-panel__content col-9">
            <p class="name"><strong>Core Logic</strong></p>
            <p class="app-type">Web App</p>
            <p class="details details__desc">Comprehensive & Timely Data. Auction Reports Residential &
              Commercial Market
              Research. Used And Trusted By Real Estate Agents, Developers, Banks & Government Agencies.
            </p>
            <p class="details details__bottom"><span>Sales, Sales Admin, Collections...</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-8 ">
      <div class="app-panel ">
        <div class="navicon">
          <img src="assets/images/common/nav-icon.jpg" alt="navicon">
        </div>
        <div class="row d-flex align-items-center">
          <div class="app-panel__image col-3 text-center">
            <img src="assets/images/content/app/inhabit.jpg" alt="Staff">
          </div>
          <div class="app-panel__content col-9">
            <p class="name"><strong>Inhabit</strong></p>
            <p class="app-type">Web App</p>
            <p class="details details__desc">Real Estate Agency software automates business, marketing,
              and
              contact
              management activities for real estate sales and rental organizations.</p>
            <p class="details details__bottom"><a href="#">Add App</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-8">
      <div class="app-panel ">
        <div class="navicon">
          <img src="assets/images/common/nav-icon.jpg" alt="navicon">
        </div>
        <div class="row d-flex align-items-center">
          <div class="app-panel__image col-3 text-center">
            <img src="assets/images/content/app/property-value.jpg" alt="Staff">
          </div>
          <div class="app-panel__content col-9">
            <p class="name"><strong>Inhabit</strong></p>
            <p class="app-type">Web App</p>
            <p class="details details__desc">The one software solution for commercial, residential,
              strata,
              holiday and
              sales management</p>
            <p class="details details__bottom"><a href="#">Add App</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-8">
      <div class="app-panel ">
        <div class="navicon">
          <img src="assets/images/common/nav-icon.jpg" alt="navicon">
        </div>
        <div class="row d-flex align-items-center">
          <div class="app-panel__image col-3 text-center">
            <img src="assets/images/content/app/property-iq.jpg" alt="Staff">
          </div>
          <div class="app-panel__content col-9">
            <p class="name"><strong>Property IQ</strong></p>
            <p class="app-type">Web App</p>
            <p class="details details__desc">PropertyIQ Strata is a total one-stop-shop for strata
              managers. A
              powerful,
              yet easy-to-use, time-saving solution for professional body corporate managers.</p>
            <p class="details details__bottom"><a href="#">Add App</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="app-panel ">
        <div class="navicon">
          <img src="assets/images/common/nav-icon.jpg" alt="navicon">
        </div>
        <div class="row d-flex align-items-center">
          <div class="app-panel__image col-3 text-center">
            <img src="assets/images/content/app/deft.jpg" alt="Staff">
          </div>
          <div class="app-panel__content col-9">
            <p class="name"><strong>DEFT</strong></p>
            <p class="app-type">Web App</p>
            <p class="details details__desc">DEFT offers you a simple, easy and secure way to make
              payments to
              your
              biller.</p>
            <p class="details details__bottom"><a href="#">Add App</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>