<div class="d-flex ai-bot">
   <div class="col-sm-6 light-blue-400-bg">
     <div class="description">
       <img src="assets/images/common/ai-bot/ai-bot.png" alt="logo">
       <h1 class="justify-align">Enable AI Bot? </h1>
       <p class="justify-align">
         AI Bot analyses data from your flight deck
         to provide insights and suggestions that give you
         a deep understanding of how the system and
         services are being utilised.
       </p>
       <p class="justify-align">
         By analysing usage and report data, AI Bot can
         look for areas that could be improved, software that
         would add more value and identify issues early.
       </p>
       <p class="justify-align">
         You can enable, disable or control the data that AI
         Bot has access to in your <b> management settings. </b>
       </p>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="features">
       <i class="close material-icons" mat-dialog-close> close </i>
       <h1>Enable Core Features</h1>
       <div class="row">
         <div class="col-sm-6">
           <h2>Suggest Candidates</h2>
         </div>
         <div class="col-sm-6">
           <div class="box"> &nbsp; <i class="material-icons"> check </i> </div>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-6">
           <h2>Suggest Applications</h2>
         </div>
         <div class="col-sm-6">
           <div class="box"> &nbsp; <i class="material-icons"> check </i> </div>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-6">
           <h2>Create Smart Reports</h2>
         </div>
         <div class="col-sm-6">
           <div class="box"> &nbsp; <i class="material-icons"> check </i> </div>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-6">
           <h2>Staff Auto Evaluations</h2>
         </div>
         <div class="col-sm-6">
           <div class="box"> &nbsp; <i class="material-icons"> check </i> </div>
         </div>
       </div>
       <div class="row">
         <div class="col-sm-6">
           <h2>License Management and Reporting</h2>
         </div>
         <div class="col-sm-6">
           <div class="box"> &nbsp; <i class="material-icons"> check </i> </div>
         </div>
       </div>

       <div class="row">
         <button style="background-color:#29b6f6 " mat-button mat-dialog-close> Enable AI Bot </button>
         <button style="background-color:#bdbdbd" mat-button mat-dialog-close> No Thanks</button>
       </div>
     </div>
   </div>
</div>
