<div class="row">
  <div class="col-md-6">
    <div class="carded sales-panel mx-8 on-break">
      <div class="navicon">
        <img src="assets/images/common/nav-icon.jpg" alt="navicon">
      </div>
      <div class="row d-flex align-items-center">
        <div class="sales-panel__image col-3">
          <img src="assets/images/content/staff/staff.png" alt="Staff">
        </div>
        <div class="sales-panel__content col-9">
          <p class="name"><strong>June Marbahy</strong> (junek)</p>
          <p class="position">Executive Services Specialist</p>
          <p class="details details__department"><mat-icon>group</mat-icon> Sales Admin</p>
          <p class="details details__time"><mat-icon>access_time</mat-icon> (AEST): 9:30am - 5:30pm</p>
          <p class="details details__location"><mat-icon>business</mat-icon> AP, 20 Bothe Pl, Haddon</p>
          <p class="details details__status"><mat-icon>access_alarm</mat-icon> On break</p>
        </div>
      </div>

      <div class="home-icon">
        <img src="assets/images/common/home-icon.png" alt="home-icon">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="sales-panel mx-8 on-break">
      <div class="navicon">
        <img src="assets/images/common/nav-icon.jpg" alt="navicon">
      </div>
      <div class="row d-flex align-items-center">
        <div class="sales-panel__image col-3">
          <img src="assets/images/content/staff/staff.png" alt="Staff">
        </div>
        <div class="sales-panel__content col-9">
          <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
          <p class="position">Executive Services Specialist</p>
          <p class="details details__department"><mat-icon>group</mat-icon> Sales Admin</p>
          <p class="details details__time"><mat-icon>access_time</mat-icon> (AEST): 5:30pm - 11:30pm</p>
          <p class="details details__location"><mat-icon>business</mat-icon> AP, 20 Bothe Pl, Haddon</p>
          <p class="details details__status"><mat-icon>access_alarm</mat-icon> On break</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="sales-panel mx-8 active">
      <div class="navicon">
        <img src="assets/images/common/nav-icon.jpg" alt="navicon">
      </div>
      <div class="row d-flex align-items-center">
        <div class="sales-panel__image col-3">
          <img src="assets/images/content/staff/staff.png" alt="Staff">
        </div>
        <div class="sales-panel__content col-9">
          <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
          <p class="position">Executive Services Specialist</p>
          <p class="details details__department"><mat-icon>group</mat-icon> Sales Admin</p>
          <p class="details details__time"><mat-icon>access_time</mat-icon> (AEST): 5:30pm - 11:30pm</p>
          <p class="details details__location"><mat-icon>business</mat-icon> AP, 20 Bothe Pl, Haddon</p>
          <p class="details details__status"><mat-icon>access_alarm</mat-icon> Working on CEO Presentatio....</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="sales-panel mx-8 active">
      <div class="navicon">
        <img src="assets/images/common/nav-icon.jpg" alt="navicon">
      </div>
      <div class="row d-flex align-items-center">
        <div class="sales-panel__image col-3">
          <img src="assets/images/content/staff/staff.png" alt="Staff">
        </div>
        <div class="sales-panel__content col-9">
          <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
          <p class="position">Executive Services Specialist</p>
          <p class="details details__department"><mat-icon>group</mat-icon> Sales Admin</p>
          <p class="details details__time"><mat-icon>access_time</mat-icon> (AEST): 5:30pm - 11:30pm</p>
          <p class="details details__location"><mat-icon>business</mat-icon> AP, 20 Bothe Pl, Haddon</p>
          <p class="details details__status"><mat-icon>access_alarm</mat-icon> Contacting appointments and...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="sales-panel mx-8 inactive">
      <div class="navicon">
        <img src="assets/images/common/nav-icon.jpg" alt="navicon">
      </div>
      <div class="row d-flex align-items-center">
        <div class="sales-panel__image col-3">
          <img src="assets/images/content/staff/staff.png" alt="Staff">
        </div>
        <div class="sales-panel__content col-9">
          <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
          <p class="position">Executive Services Specialist</p>
          <p class="details details__department"><mat-icon>group</mat-icon> Sales Admin</p>
          <p class="details details__time"><mat-icon>access_time</mat-icon> (AEST): 5:30pm - 11:30pm</p>
          <p class="details details__location"><mat-icon>business</mat-icon> AP, 20 Bothe Pl, Haddon</p>
          <p class="details details__status"><mat-icon>access_alarm</mat-icon> Absent</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="sales-panel mx-8 active">
      <div class="navicon">
        <img src="assets/images/common/nav-icon.jpg" alt="navicon">
      </div>
      <div class="row d-flex align-items-center">
        <div class="sales-panel__image col-3">
          <img src="assets/images/content/staff/staff.png" alt="Staff">
        </div>
        <div class="sales-panel__content col-9">
          <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
          <p class="position">Executive Services Specialist</p>
          <p class="details details__department"><mat-icon>group</mat-icon> Sales Admin</p>
          <p class="details details__time"><mat-icon>access_time</mat-icon> (AEST): 5:30pm - 11:30pm</p>
          <p class="details details__location"><mat-icon>business</mat-icon> AP, 20 Bothe Pl, Haddon</p>
          <p class="details details__status"><mat-icon>access_alarm</mat-icon> Contacting prospects.</p>
        </div>
      </div>
    </div>
  </div>
</div>