<div class="sign-in">
    <div class="content-card dark-text">
      <div class="sign-in__header">
        <img src="assets/images/common/flight-deck-logo.png" />
        <h1>FlightDeck sign in</h1>
      </div>
      <p id="sign-in"><b>Enter your Email address and we'll send you a link to reset your password</b></p>
      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK"
          [disabled]="forgotPasswordForm.invalid">
          SEND RESET LINK
        </button>
      </form>
      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/auth'">Go back to login</a>
      </div>
    </div>
  </div>
