@import "./../../../../src/@flight/scss/fuse";

.sign-in {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 700px;
  text-align: left;
  &__header {

    img,
    h1 {
      display: inline-block;
      vertical-align: middle;
    }
  }
  #sign-in {
    margin-top: 30px;
  }
  form {
    width: 100%;
    text-align: left;

    mat-form-field {
      width: 100%;
    }

    .submit-button {
      width: 220px;
      margin: 16px auto;
      display: block;

      @include media-breakpoint('xs') {
        width: 90%;
      }
    }
  }
}
a {
  text-transform: capitalize;
  border-radius: 6px;
}

@media only screen and (max-width: 991px) {
  .sign-in {
  width: 400px;
  height: 500px;

  h1 {
    font-size: 25px;
    margin-left: 30px;
    top: 0;
   }
   img{
    max-width: 60px;
    max-height: 55px;
    margin-left: 65px;
    position: absolute;
    top: 0;
   }
   #sign-in{
     font-size: 12px;
     padding: 10px;
     margin-right: 25px;
   }

   a{
    left: 100px;
    position: relative;
   }
 }
}
