<footer class="container-fluid">
  <div class="d-flex wrap align-items-center">
    <div class="col-md-10 col-6 d-flex align-items-center flex-nowrap">
      <a class="logo" routerLink="/staff-overview" style="text-align: center;">
        <img src="assets/images/common/macquarie.png" alt="Cloudstaff"
          style="width: 100%; max-width: 65px; box-sizing:border-box; padding: 15px 10px 10px 10px ">
        <span style="display: block;">ALL TEAM <mat-icon>keyboard_arrow_down</mat-icon> </span>
      </a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="nav menu d-flex flex-nowrap">
        <li class="nav-item">
          <a (click)="openEndMetrics()" [routerLinkActive]="['active']"
            style="text-align: center;">
            <img src="assets/images/common/nav-icon1.png" alt="Launch pad" style="width: 100%; max-width: 65px;">
            <span style="display: block;">LAUNCH PAD</span>
          </a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/macquarie-today']" [routerLinkActive]="['active']" style="text-align: center;">
            <img src="assets/images/common/inner-header/today.svg" alt="Openings" style="width: 100%; max-width: 65px;">
            <span style="display: block;">TODAY</span>
          </a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/staff-summary']" [routerLinkActive]="['active']" style="text-align: center;">
            <img src="assets/images/common/inner-header/team.svg" alt="Team" style="width: 100%; max-width: 65px;">
            <span style="display: block;">TEAM</span></a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/application-library']" [routerLinkActive]="['active']" style="text-align: center;">
            <img src="assets/images/common/inner-header/activities.svg" alt="My Resume"
              style="width: 100%; max-width: 65px;">
            <span style="display: block;">ACTIVITIES</span>
          </a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/add-on-services']" [routerLinkActive]="['active']" style="text-align: center;">
            <img src="assets/images/common/inner-header/marketplace.jpg" alt="My Profile"
              style="width: 100%; max-width: 65px;">
            <span style="display: block;">Marketplace</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-2 col-6">
      <ul class="d-flex justify-content-around align-items-center">
        <li>
          <a (click)="openAiBot()" style="text-align: center;max-width: 125px;margin: 0 0 0 auto;">
            <img src="assets/images/common/inner-header/ai-bot.jpg" alt="My Profile"
              style="width: 100%; max-width: 65px;">
            <span style="display: block;">AI BOT</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/']" style=" text-align: center;max-width: 125px;margin: 0 0 0 auto;">
            <img src="assets/images/common/inner-header/flight-deck.jpg" alt="My Profile"
              style="width: 100%; max-width: 65px;">
            <span style="display: block;">FLIGHT DECK</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>