<footer>
  <div class="d-flex align-items-center">
    <div class="col-md-9 col-6 d-flex align-items-center flex-nowrap">
      <a class="logo" [routerLink]="['/']" style="text-align: center;">
        <img src="assets/images/common/cloudstaff.jpg" alt="Cloudstaff" style="width: 100%; max-width: 65px;">
        <span style="display: block;">CLOUDSTAFF</span>
      </a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu d-flex wrap">
        <li class="nav-item">
          <a  style="text-align: center;">
            <img src="assets/images/common/nav-icon1.png" alt="Launch pad" style="width: 100%; max-width: 65px;">
            <span style="display: block;">LAUNCH PAD</span>
          </a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/openings']" style="text-align: center;">
            <img src="assets/images/common/nav-icon2.png" alt="Openings" style="width: 100%; max-width: 65px;">
            <span style="display: block;">OPENINGS</span>
          </a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/my-tasks']" style="text-align: center;">
            <img src="assets/images/common/nav-icon3.png" alt="My Tasks" style="width: 100%; max-width: 65px;">
            <span style="display: block;">MY TASKS</span>
          </a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/my-resume']" style="text-align: center;">
            <img src="assets/images/common/nav-icon4.png" alt="My Resume" style="width: 100%; max-width: 65px;">
            <span style="display: block;">MY RESUME</span>
          </a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/my-profile']" style="text-align: center;">
            <img src="assets/images/common/nav-icon5.png" alt="My Profile" style="width: 100%; max-width: 65px;">
            <span style="display: block;">MY PROFILE</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-6">
      <p style="text-align: center;max-width: 125px;margin: 0 0 0 auto;">
        <img src="assets/images/common/notification.jpg" alt="My Profile" style="width: 100%; max-width: 65px;">
        <span style="display: block;">NOTIFICATIONS</span>
      </p>
    </div>
  </div>
</footer>
